body {
    font-family: 'Montserrat';
    margin: 0;
    background-color: #ffffff;
}

/*a{
    color: white;
    text-decoration: none;
}*/

/* Codigo de estilos del header*/
.header{
    width: 100%; 
    min-height: 85vh;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header:before{
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-brand > img{
    width: 100px;
    left: 80px;
}

.container{
    position: relative;
}

.rectanguloNegro{
    background-image: radial-gradient(rgba(255, 255, 255, .1), rgba(34,40,49, 1));
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10%;
    padding-top: 5%;
    border-radius: 25px;
}

.nav{
    position: fired;
    width: 100%;
    background-color: #000000;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255);
}

.navg a{
    color: rgb(255, 255, 255)!important;
    font-family: 'Montserrat';
    font-size: 16px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.text-header h1{
    min-height: 100%;
    color:rgb(255, 255, 255);
    font-family: 'Anton';
    position: center;
    font-size: 350%;
}

.btn-yo{
    padding: 7px 12px;
    color: #ffffff;
    background-color: #7DCE13;
    width: 20%;
    font-size: 120%;
    margin: 2%;
    font-weight: bold;
    font-family: 'Montserrat';
    border-radius: 1em;
}

.btn-yo:hover{
    padding: 7px 12px;
    color: #ffffff;
    background-color: #000000;
}

/*Codigo del Body*/

.rectanguloCards{
    margin: 4%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.morado{
    background-color: #3A0092;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.morado p{
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 150%;
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
    padding-top: 15%;
    padding: 1%;
}

.verde{
    background-color: #7DCE13;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.verde p{
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 130%;
    justify-content: center;
    display: flex;
}

.col{
    justify-content: center;
    align-items: center;
    display: flex;
}

.card{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.boton_ingresar{
    background-color: black;
    color: white;
    margin: 0 auto;
}