* {
    margin: 0 auto;
    font-family: Raleway-Regular;
    
}

header {
    background-color: black;  
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    margin: 0 7em;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    width: 100px;
    text-align: center;
}
header nav ul li a:hover{
    color: black;
    background-color: white;
}

@font-face {
    font-family: Raleway-Regular;
    src: url(/fuente/Raleway-Regular.ttf);
}

footer{
    background-color: #825AA1;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
}