<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Control de notificaciones">
        <meta name="keywords" content="Notificaciones, Bestel, Mantenimiento">
        <meta name="author" content="Emmanuel Bautista Palacios, Nisi Jared Vallejo Luria">
        <title>Control de Notificaciones de Ventanas para Mantenimiento</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap" rel="stylesheet">
        
        <link href="../../resources/css/lateral.css" rel="stylesheet" type="text/css">
    </head>
<body>

<!--Barra lateral-->
<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row dasboard">
  <aside class="col-12 col-sm-12 col-md-2 col-xl-2 m-0 p-0 felix-shrink-1 barraLateral">
    <nav class="navbar1 navbar-dark navbar-expand-md flex-md-column flex-row" id="lateral">
      <div class="logo ">
        <img src="../resources/img/Bestel.svg" alt="profile pictures" class="img-fluid d-none d-md-block mx-auto">
      </div>
      <button class="navbar-toggler border-0 order-1 m-1" type="button" data-bs-toggle="collapse" 
        data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-last" id="nav">
        <ul class="navbar-nav flex-column w-100 ">
          <li class="nav-item">
            <a class=" nav-link" href="/" style="outline: none;">
              <i class="bi bi-house-fill" style="padding-right: 5%; margin-left: 5%;"></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" href="/actualizarBD" style="outline: none;">
              <i class="bi bi-database-fill-check" style="padding-right: 5%; margin-left: 5%;"></i>Actualizar BD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crearN" style="outline: none;">
              <i class="bi bi-send-plus-fill" style="padding-right: 5%; margin-left: 5%;"></i>Crear notificación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notificaciones" style="outline: none;">
              <i class="bi bi-window-stack" style="padding-right: 5%; margin-left: 5%;"></i>Notificaciones</a>
          </li>
          <li class="text-center">
            <button class="btn align-items-center collapsed p-0 rounded-circle"  style="color: #ffffff; font-size: 2em; margin: 5%;" data-bs-toggle="collapse" aria-expanded="false" 
            data-bs-target="#contents-collapse-P" aria-controls="contents-collapse-P">
              <i class="bi bi-person-circle" style="width: 5em; height: 5em;"></i>
            </button>
            <ul class="list-unstyled collapse justify-content-center" id="contents-collapse-P" value="">
              <li style="color: #ffffff; ">
                <% if (login) { %>
                  <%- name %>
                  <% }else { %>
                  Usuario
                  <% } %> 
              </li>
              <li><a class="dropdown-item" style="margin: 0%; padding-left: 5%;" href="#">Perfil</a></li>
              <li><a class="dropdown-item" style="margin: 0%; padding-left: 5%;" name="close-session" href="/csesion"> Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </aside>