.dasboard{ 
    background-color: #E2DCC8;
    margin: 0%;
}

.titulo{ 
    background-color: #A1D23F;
    
}

.titulo h3{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin: 0%;
}

.titulo p{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin: 0%;
}

.fa-solid{
    margin: 1%;
    font-size: medium;
}

.card{
    width: 100%;
}

.card-header{
    font-weight:bold;
}

tbody{
    font-weight: 100;
    font-size: smaller;
}

.pagination{
    font-size: smaller;
}

.pagination a{
    padding: 3;
}
