body{
    margin: 0%;
    font-family: 'Montserrat';
}

.barraLateral{
    background-color: #000000;
    align-items: center;
    display: flex;
}

.navbar1{
    text-align: center;
}

.logo img{
    width: 50%;
    padding: 3%;
    text-align: center;
    justify-content: center;
}