body{
    margin: 0%;
    font-family: 'Montserrat';
}

.barraLateral{
    background-color: #000000;

}

.logo img{
    width: 75%;
    min-width: 50%;
    padding: 5%;
    display: flex;
    padding-bottom: 15%;
}

.navbar1 a{
    color: rgb(255, 255, 255)!important;
    font-family: 'Montserrat';
    font-size: 14px; 
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    align-self: start;
    align-items: center;
    text-decoration: none;
    display: flex;
    border-radius: .5em;
   
}

.navbar1 a:hover{
    color:  rgb(255, 255, 255)!important;
    background-color: #252525;
}